body {
    background-color: #0d0d0d;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 1.5vw;
}

.topnav, footer{
    background-color: gray;
    padding: 14px;
    
}
.topnav a:hover {
    color: red;
}
@media(max-width: 700px){
    body{
        font-size: 6vw;
    }
}
.darkmode{
    background-color: white;
    color: #0d0d0d;
}

